.root{
    -fx-background-image: url("background.png");
    -fx-background-color: rgba(255, 255, 255, 0.15);
}
.label {
    -fx-font-size: 15;
}

.label.title{
    -fx-font-weight: bold;
}

.table-view{
    -fx-background-color: rgba(255, 255, 255, 0.15);
    /*-fx-background-color: transparent;*/
}

.cell {
    /*-fx-background-color: transparent;*/
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.transparent-background {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.white-background {
    -fx-background-color: white;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: black;
}

#dataTab.tab {
    -fx-background-color: #ff8784;
}

#modelSelectionTab.tab {
    -fx-background-color: tan;
}

#resultTab.tab, #runtimeTab.tab {
    -fx-background-color: #96cc94;
}


.padded-vbox {
    -fx-spacing: 15;
    -fx-padding: 10 ;
}

#fileDetailsBox {
    -fx-spacing: 10;
    -fx-background-color: rgba(255, 250, 245, 0.15);
    -fx-padding: 10 0 10 0;
}

#inputController {
    -fx-spacing: 15;
    -fx-padding: 10 ;
}

#delimiterBox {
    -fx-alignment: center-left ;
    -fx-spacing: 5px;
}

/*.list-cell:hover, .list-cell:focused {*/
.table-view .list-cell:hover{
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}
.table-view .list-cell:focused{
    /*-fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);*/
    -fx-text-fill: black;
}

.text-area .scroll-pane,  .text-area .scroll-pane .viewport, .text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#suggestionsVBox .label, #suggestionsVBox #modelSummary{
    /*-fx-background-color: rgba(255, 255, 255, 0.15);*/
    -fx-padding: 10 10 10 10;
    -fx-text-wrap: true;
}

/*#suggestionsVBox #modelSummary{*/
    /*-fx-margin: 0 20 ;*/
    /*-fx-text-wrap: true;*/
/*}*/

#justificationVBox{
    -fx-spacing: 10;
    -fx-background-color: rgba(255, 250, 245, 0.15);
    -fx-alignment: top-center;
    /*-fx-padding: 10 0 10 0;*/
}

#justificationVBox .label {
    -fx-font-weight: bold;
        /*-fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);*/
}

/*#swingNode {*/
    /*-fx-background-color: rgba(255, 250, 245, 0.15);*/
    /*-fx-min-width: 640;*/
    /*-fx-min-height: 480;*/
/*}*/